.createMovieInputLeft {
    position: absolute;
    left: 10%;
}

.createMovieInputRight {
    position: absolute;
    right: 10%;
}

.posterUrlInput {
    top: 40px;
}

.posterImage {
    width: 260px;
    height: 365px;
}