body {
    background-color: var(--pallete-color-blue);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fadeBackground {
    opacity: 30%;
    pointer-events: none;
}

.navbar {
    background-color: rgb(60, 104, 117);
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus {
    color:#d5d5d5;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #d5d5d5;
}

.dropdown-menu {
    background-color: rgb(60, 104, 117);
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #335C67;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.movieCard {
    cursor: pointer;
}

.card-body {
    color: black;
}

.card-title {
    color: white;
}

.card-text {
    color: #c9c9c9;
}

.card {
    background-color: rgba(158, 42, 43, 0.77);
    margin: 20px;
}

.selectedCard, .selectedCardForScreening, .selectedCardForScreeningEdit {
    top: 10%;
    left: 25%;
    position: fixed;
    margin: 0 auto;
    width: 50%;
    height: 600px;
    background-color: rgba(158, 42, 43, 0.95);
}

.selectedCardForCreateReservation {
    top: 10%;
    left: 10%;
    position: fixed;
    margin: 0 auto;
    width: 80%;
    height: 630px;
    background-color: rgba(158, 42, 43, 0.95);
}

.createMovieInputLeft {
    position: absolute;
    left: 10%;
}

.createMovieInputRight {
    position: absolute;
    right: 10%;
}

.posterUrlInput {
    top: 40px;
}

.posterImage {
    width: 260px;
    height: 365px;
}

.moviePoster {
    width: 279px;
    height: 380px;
    border-radius: 5px;
    margin-left: -10px;
    margin-top: 1px;
}

.editMovieLeft, .createScreeningLeft, .editScreeningLeft {
    width: 300px;
    margin-left: -30px;
}

.editMovieRight, .createScreeningRight, .editScreeningRight {
    margin-right: -30px;
    width: 270px;
}

.createReservationLeft {
    width: 270px;
    margin-left: -50px;
}

.createReservationRight {
    margin-right: -50px;
    width: 500px;
}

.editMoviePoster {
    width: 270px;
    height: 366px;
}

.createReservationMoviePoster {
    width: 150px;
    height: 203px;
    position: relative;
    margin-bottom: 20px;
}

.movieSearchDiv {
    position: absolute;
    right: 80px;
    top: 70px;
}

.movieSearchButton {
    background-color: #1b8754;
    color: white;
}

.seat {
    margin: 1px;
    display: block;
    width: 26px;
    height: 20px;
    cursor: pointer;
}

.seat img {
    display: block;
    width: 26px;
    height: 20px;
    /*filter: invert(84%) sepia(93%) saturate(198%) hue-rotate(326deg) brightness(101%) contrast(101%);*/
    /*filter: invert(32%) sepia(11%) saturate(1586%) hue-rotate(146deg) brightness(94%) contrast(88%);*/

}

.selected {
    filter: invert(32%) sepia(11%) saturate(1586%) hue-rotate(146deg) brightness(94%) contrast(88%);
}

#seatingPlan {
    display: grid;
    margin-top: 5px;
}

.screen span {
    display: block;
    width: 60%;
    border-top: 5px solid #d3dae2;
    padding-top: 15px;
    line-height: 1;
    margin-top: 20px;
    left: 20%;
    position: relative;
}

.screen {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Inter-Black",sans-serif;
    color: #d3dae2;
}

#seeMovies h3,
#seeScreenings h3 {
    margin-left: 80px;
    margin-top: 15px;
}

#pbSaveMovie {
    margin-left: 128px;
}

.btn-outline-primary {
    border-radius: 5px;
}

#reservationTableDiv {
    margin: 0 auto;
    width: 92%;

    border: var(--pallete-color-red) solid 2px;
    border-radius: 10px;
}

.table {
    text-align: center;
    border: var(--pallete-color-red);
    color: white;
}

.table tr:hover {
    background-color: #446e7e;
}

#headerRow:hover {
    background-color: var(--pallete-color-blue);
}



:root {
    --pallete-color-blue: #335C67;
    --pallete-color-cream: #FFF3B0;
    --pallete-color-gold: #E09F3E;
    --pallete-color-red: #9E2A2B;
    --pallete-color-wine: #540B0E;
}