<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Screening
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="createReservation.html">Create reservation</a></li>
                        <li><a class="dropdown-item" href="seeReservation.html">See Reservations</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="createScreening.html">Create Screening</a></li>
                        <li><a class="dropdown-item" href="seeScreening.html">See Screenings</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Movie
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="createMovie.html">Create Movie</a></li>
                        <li><a class="dropdown-item" href="seeMovie.html">See Movies</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="analytics.html">Analytics</a>
                </li>
            </ul>

        </div>
    </div>
</nav>



</body>
</html>